
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('/fonts/all/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('/fonts/all/fonts/Gilroy-ExtraBold.otf')  format('opentype'),
	     url('/fonts/all/fonts/Gilroy-ExtraBold.woff') format('woff'), url('/fonts/all/fonts/Gilroy-ExtraBold.ttf')  format('truetype'), url('/fonts/all/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
