
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('/fonts/all/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),  url('/fonts/all/Gilroy-SemiBold.otf')  format('opentype'),
	     url('/fonts/all/Gilroy-SemiBold.woff') format('woff'), url('/fonts/all/Gilroy-SemiBold.ttf')  format('truetype'), url('/fonts/all/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
