
@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/all/Gilroy-Light.eot?#iefix') format('embedded-opentype'),  url('/fonts/all/Gilroy-Light.otf')  format('opentype'),
	     url('/fonts/all/Gilroy-Light.woff') format('woff'), url('/fonts/all/Gilroy-Light.ttf')  format('truetype'), url('/fonts/all/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
