
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/all/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/all/Gilroy-Bold.woff') format('woff'), url('/fonts/all/Gilroy-Bold.ttf')  format('truetype'), url('/fonts/all/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
